<div class="container">
  <h1> Restaurants </h1>

  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name%> - <%= restaurant.address%>
    <br>
    category : <%= restaurant.category%>
    </li>
    <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
  <% end %>

  <br>
  <br>

  <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-success" %>
</div>
